extends layout

block content
  h1 Página da Entidade
  h3 NIPC: #{nipc}
  h3 Nome da Entidade: #{nome}

  table.w3-table-all
    thead
      tr
        th Id
        th Objeto do Contrato
        th Data da Celebração do Contrato 
        th Preço Contratual
    tbody
      each contrato in contratos
        tr
          td= contrato._id
          td= contrato.objetoContrato
          td= contrato.dataCelebracaoContrato
          td= contrato.precoContratual + '€'

  p Total do Valor dos Contratos: #{totalValue}€

  a(href='/') Voltar à página principal
